<div class="main">
  <img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" class="menu">
</div>

<div class="sup">
  <a href="#" class="btn btn-default">sign up</a>
</div>