

<div class="jumbotron">
    <div class="container">
      
      
          <img src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg" class="menu">
        <div>
          <h1>Create and share Stories</h1>
          <%= link_to "Learn more", "/about"%>
      </div>
        
      
    </div>
  </div>

<div class="supporting">
  <div class="container">
    <h1>Discover Stories</h1>
    <%= link_to "Learn more", "/about"%>
  </div>
</div>